:host {
  overflow: hidden;
  position: absolute;
  background: var(--ion-color-light-shade);
  transition: box-shadow 160ms ease, opacity 160ms ease;
  box-shadow: 0;
}

:host.focus {
  box-shadow: 0px 4px 28px rgba(var(--ion-color-dark-rgba));
}

:host.drag {
  box-shadow: 0px 4px 28px rgba(var(--ion-color-dark-rgba));
  opacity: 0.94;
}
:host.no-drag {
  transition: all 160ms ease;
}
:host.zen {
  transition: box-shadow 160ms ease, opacity 160ms ease;
}
:host.no-zen {
  opacity: 0;
}

iframe:hover {
  cursor: url(/assets/cursor.png), auto;
}

.no-touch {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.no-touch.hidden {
  display: none;
}

fiv-spinner {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  ::ng-deep svg {
    stroke: var(--ion-color-secondary);
  }
}
