:host {
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 16px;
}

iframe:hover {
  cursor: url(/assets/cursor.png), auto;
}

.no-touch {
  position: absolute;
  height: 100%;
  width: 100%;
  touch-action: none;
  user-select: none;
  top: 0;
  left: 0;
}
