<ion-toolbar #toolbar>
  <ion-buttons slot="start">
    <ion-button matTooltip="delete device" (click)="delete(device.name)">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-button matTooltip="device settings" fill="clear" color="dark" (click)="edit.open($event)">
    {{device.name || 'Custom'}}
    ({{device.width}}x{{device.height}})
  </ion-button>
  <ion-buttons slot="end">
    <ion-button [matTooltip]="device.orientation === 'portrait' ? 'switch to landscape' : 'switch to portrait'"
      (click)="toggleDeviceOrientation(device.name)">
      <mat-icon>screen_rotation</mat-icon>
      <ion-icon slot="icon-only"></ion-icon>
    </ion-button>
    <span matTooltip="screenshots coming soon">
      <ion-button [disabled]="true" matTooltip="take screenshot">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </span>
    <ion-button *ngIf="isElectron" matTooltip="Detach device in separate window" (click)="detatchDevice(device, url)">
      <ion-icon slot="icon-only" name="open"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<iframe frameborder="0" #frame [src]="url | plt : device.platform | safe" [width]="device | width | log | pixel"
  [height]="device | height | log | pixel"></iframe>
<fiv-spinner *ngIf="finishedLoading$ | pending | async" [circleRadius]="16" [diameter]="40" [strokeWidth]="4"
  [mode]="'indeterminate'"></fiv-spinner>
<div #overlay [ngClass]="{'hidden': focus?.name === device?.name}"
  (click)="$event.preventDefault(); $event.stopPropagation()" class="no-touch"></div>
<fiv-popover [width]="340" [classes]="['popover-edit-device']" #edit>
  <app-device-settings (close)="edit.close()" [device]="device"></app-device-settings>
</fiv-popover>