<ion-card class="ion-no-margin">
  <ion-buttons>
    <ion-label class="ion-margin-start">Alignment</ion-label>
    <ion-button [ngClass]="{'active': align === 'vertical' }" (click)="vertical()" matTooltip="fit vertically">
      <ion-icon slot="icon-only"></ion-icon>
      <mat-icon style="transform: rotateZ(90deg);">arrow_right_alt</mat-icon>
    </ion-button>
    <ion-range (ionChange)="rangeChange($event)" [min]="min" [max]="max" steps="1" [value]="width" color="secondary">
    </ion-range>
    <ion-button [ngClass]="{'active': align === 'horizontal' }" (click)="horizontal()" matTooltip="one horizontal row">
      <ion-icon slot="icon-only"></ion-icon>
      <mat-icon>arrow_right_alt</mat-icon>
    </ion-button>
  </ion-buttons>
</ion-card>