<ion-header no-border>
  <ion-toolbar class="url-bar ion-padding-horizontal">
    <div class="url-bar-wrapper">
      <img class="logo" src="assets/icon/blick-logo.svg">
      <ion-input #url (keydown.enter)="navigate(url.value)" class="url-input" [value]="(url$ | async)" type="url"
        placeholder="URL">
      </ion-input>
    </div>

    <ion-range (ionChange)="setZoom($event.detail.value)" #zoomRange
      [matTooltip]="'zoom level ' + zoom.toFixed(0) + '%'" slot="end" color="primary" min="20" max="180" step="1"
      ticks="true" [value]="zoom" color="primary">
    </ion-range>
    <ion-buttons slot="end">
      <div class="delimiter"></div>
      <ion-button (click)="setTheme(t === 'dark' ? 'light' : 'dark')" *ngIf="theme | async as t"
        [matTooltip]="t === 'dark' ? 'lightmode' : 'darkmode'">
        <ion-icon [ngClass]="[t]" slot="icon-only" name="contrast"></ion-icon>
      </ion-button>
      <ion-button (click)="appearance.open($event)" [matTooltip]="'grid settings'">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content gestures (click)="clear()" #content scrollX="true" [scrollEvents]="true">

  <app-devices drapdroparea>
    <app-device dragdrop *ngFor="let device of devices | async" [device]="device" [url]="url$ | async">
    </app-device>
  </app-devices>
  <div class="landing" *ngIf="devices | empty | async">
    <div>
      <img class="no-devices" src="assets/no_devices.svg">
      <ion-button fill="outline" shape="round" (click)="addDevice()">
        <mat-icon slot="start">devices</mat-icon>
        <ion-label class="ion-padding-start">add new device</ion-label>
      </ion-button>
    </div>
  </div>
  <fiv-popover [width]="340" [classes]="['popover-appearance']" #appearance>
    <app-appearance-settings *ngIf="appearance?.overlay.open"></app-appearance-settings>
  </fiv-popover>
</ion-content>

<ion-footer translucent="true">
  <ion-toolbar ion-padding-horizontal>
    <ion-buttons slot="start">
      <ion-button (click)="addDevice()" matTooltip="add device">
        <mat-icon>devices</mat-icon>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleOrientation()" *ngIf="(orientation | async) as o"
        [matTooltip]="o === 'portrait' ? 'switch to landscape':'switch to portrait'">
        <mat-icon>screen_rotation</mat-icon>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
      <div class="delimiter"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>